<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>

<body>
    <h1>{name} {surname}</h1>
    <p><i>{position}</i></p>
    <p>{age} y.o.</p>
    <p>{telephone} - {email}</p>
    <h3>Grades</h3>
    <p>{grades}</p>
    <h3>School</h3>
    <p>{school}</p>
</body>

</html>