<p>"-Who are you?
-A {name}!"</p>
<p>"-your surname?
-A {surname}!"</p>
<p>"-your position?
-A {position}!"</p>
<p>"-your age?
-A {age}!"</p>
<p>"-your telephone?
-A {telephone}!"</p>
<p>"- your email?
-A {email}!"</p>
<p>"- your grades?
-A {grades}!"</p>
<p>"- and your school?
-A {school}!"</p>